# BEGIN Cache-Control Headers
<IfModule mod_headers.c>
AddType 'text/html; charset=UTF-8' html
AddType image/svg+xml svg
AddType application/x-font-ttf ttc ttf
AddType application/x-font-woff woff
AddType application/font-woff2 woff2
AddType application/vnd.ms-fontobject eot
<FilesMatch "\.(ico|svg|ttf|woff|woff2|css|gz)$">
Header set Cache-Control "max-age=2592000, public"
</FilesMatch>
<FilesMatch "\.(js)$">
Header set Cache-Control "max-age=2592000, private"
</FilesMatch>
<filesMatch "\.(html|htm)$">
Header set Cache-Control "max-age=7200, public"
</filesMatch>
# Enleve le cache pour les ressources dynamiques
<FilesMatch "\.(pl|php|cgi|spl|scgi|fcgi)$">
Header unset Cache-Control
</FilesMatch>
</IfModule>
# END Cache-Control Headers
# Compression gzip
SetOutputFilter DEFLATE
AddOutputFilterByType DEFLATE text/html text/css text/plain text/xml application/x-javascript
# Compatibilité avec les anciens navigateurs
BrowserMatch ^Mozilla/4 gzip-only-text/html
BrowserMatch ^Mozilla/4\.0[678] no-gzip
BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
BrowserMatch \bMSI[E] !no-gzip !gzip-only-text/html

AddType 'text/html; charset=UTF-8' html
AddType image/svg+xml svg svgz
AddType image/webp webp
<IfModule mod_expires.c>

 ExpiresActive On
 ExpiresByType image/jpg "access plus 31536000 seconds"
 ExpiresByType image/jpeg "access plus 31536000 seconds"
 ExpiresByType image/svg "access plus 31536000 seconds"
 ExpiresByType image/webp "access plus 31536000 seconds"
 ExpiresByType image/woff "access plus 31536000 seconds"
 ExpiresByType image/ico "access plus 31536000 seconds"
 ExpiresByType text/css "access plus 31536000 seconds"
 ExpiresByType text/javascript "access plus 31536000 seconds"
 ExpiresByType text/html "access plus 31536000 seconds"

</IfModule>

<ifmodule mod_headers.c>

<filesmatch "\\.(ico|jpe?g|svg|webp|woff|gif|swf|gz|ttf|webp)$">
Header set Cache-Control "max-age=31536000"
</filesmatch>
<filesmatch "\\.(css)$">
Header set Cache-Control "max-age=31536000"
</filesmatch>
<filesmatch "\\.(js)$">
Header set Cache-Control "max-age=31536000"
</filesmatch>
<filesmatch "\\.(html|htm)$">
Header set Cache-Control "max-age=31536000"
</filesmatch>

</ifmodule>